@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*variables*/
:root {
  --background-white: #FFFFFF;
  --white-opacity: 255, 255, 255;
  --background-grey: #F2F2F2;
  --light-blue: #81B3D2;
  --link-active: rgba(0, 0, 0, 0.3);
  --socials-hover: #669EC0;
  --socials-active: #5496BD;
  --grey-line: #E5E5E5;
  --light-grey: #EEEEEE;
  --brown-grey: #766357;
  --btn-hover: #604E43;
  --btn-active: #503E33;
  --grey-black-text: #333333;
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --background-mountains: #766458;
  --html-academy-link: #231F20;
  --html-academy-active: #BDBBBC;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 1300px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey-black-text, black);
  text-transform: uppercase;
  background-color: var(--background-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-back {
  width: 1280px;
  background-color: var(--background-grey);
  margin: 0 auto;
}

.content {
  width: 1200px;
  background-color: var(--background-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}

/*header*/
.menu {
  list-style: none;
}

.menu__link {
  color: var(--black, black);
  font-weight: bold;
  line-height: 26px;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--light-blue);
}

.menu__link:active {
  color: var(--link-active);
}

/*main*/
/*greeting*/
.greeting__img {
  height: 510px;
  background-color: var(--background-mountains);
  background-image: url("../img/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.greeting__text {
  width: 470px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
/*advantages*/
.advantages__heading{
  font-weight: normal;
  line-height: 26px;
}

/*search*/
.search-hotels {
  text-align: center;
}

.search-hotels__heading {
  font-weight: bold;
  color: var(--black);
  font-size: 30px;
  line-height: 24px;
}

.search-hotels__subtitle {
  font-weight: normal;
  line-height: 24px;
  width: 435px;
}

.search-hotels__btn {
  width: 568px;
  height: 86px;
  padding: 0;
  background-color: var(--brown-grey);
  color: var(--background-white, white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  vertical-align: middle;
}

.search-hotels__btn:hover,
.search-hotels__btn:focus {
  background-color: var(--btn-hover);
}

.search-hotels__btn:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

.form-search {
  display: none;
}

/*footer*/
.site-footer {
  height: 120px;
  background-color: var(--background-white);
}

.site-footer.map {
  height: 594px;
  background-color: var(--light-grey);
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site-footer__content {
  height: 120px;
  background-color: rgba(var(--white-opacity), 0.9);
}

.site-footer__contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, black);
}

.site-footer__contacts > a {
  color: var(--black, black);
}

.site-footer__contacts > a:hover,
.site-footer__contacts > a:focus {
  color: var(--light-blue);
}

.site-footer__contacts > a:active {
  color: rgba(var(--black-opacity), 0.3);
}

.socials {
  list-style: none;
}

.social {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
}

.social::before {
  content: "";
  display: block;
}

.social__tw::before {
  background-image: url("../img/twitter-icon.svg");
  width: 17px;
  height: 17px;
}

.social__fc::before {
  background-image: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social__ut::before {
  background-image: url("../img/youtube-icon.svg");
  width: 20px;
  height: 16px;
}

.social:hover,
.social:focus {
  background-color: var(--socials-hover);
}

.social:active {
  background-color: var(--socials-active);
}

.social:active::before {
  opacity: 0.3;
}

.site-footer__developer {
  font-weight: normal;
  line-height: 26px;
}

.developer__link {
  display: block;
  width: 115px;
  height: 41px;
}

.developer__logo {
  fill: var(--html-academy-link);
}

.developer__link:hover .developer__logo,
.developer__link:focus .developer__logo {
  fill: var(--light-blue)
}

.developer__link:active .developer__logo {
  fill: var(--html-academy-active);
}

/*HOTELS*/
.menu__link:not([href]) {
  color: var(--brown-grey);
}

/*filter-result*/
.filter-result__hotels {
  list-style: none;
  padding: 0;
}

.filter-result-hotels__item {
  border: 1px solid var(--grey-line);
}

.hotel__img {
  width: 135px;
  height: 90px;
  display: block;
  background-color: var(--background-grey);
}

.hotel__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.hotel__type{
  font-weight: normal;
}
.hotel__price{
  font-weight: normal;
}
.hotel__btn {
  font-weight: bold;
  color: var(--background-white);
}

.hotel__btn.details {
  background-color: var(--light-blue);
}

.hotel__btn.details:hover,
.hotel__btn.details:focus {
  background-color: var(--socials-hover);
}

.hotel__btn.details:active {
  background-color: var(--socials-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotel__btn.check-in {
  background-color: var(--brown-grey);
}

.hotel__btn.check-in:hover,
.hotel__btn.check-in:focus {
  background-color: var(--btn-hover);
}

.hotel__btn.check-in:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotels__stars {
  list-style: none;
}

.hotels__stars > li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/star.svg");
  width: 19px;
  height: 17px;
}

.hotels__rating {
  background-color: var(--background-grey);
}
