@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*variables*/
:root {
  --background-white: #FFFFFF;
  --white-opacity: 255, 255, 255;
  --background-grey: #F2F2F2;
  --light-blue: #81B3D2;
  --socials-hover: #669EC0;
  --socials-active: #5496BD;
  --grey-line: #E5E5E5;
  --light-grey: #EEEEEE;
  --input-hover: #EBEBEB;
  --brown-grey: #766357;
  --btn-hover: #604E43;
  --btn-active: #503E33;
  --grey-black-text: #333333;
  --checkBox-diasbles: #6A6A6A;
  --toggle: #ABABAB;
  --triangle-link: #cacaca;
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --html-academy-link: #231F20;
  --html-academy-active: #BDBBBC;
  --raiting: #666666;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey-black-text, black);
  text-transform: uppercase;
  background-color: var(--background-grey);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type = "checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GRID*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  min-height: 100vh;
  background-color: var(--background-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/*header*/

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.menu {
  list-style: none;
  width: 1054px;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.menu__item {
  padding: 15px 0;
  width: 98px;
}

.menu__item:first-child {
  margin-right: 130px;
}

.menu__item.left-side {
  text-align: left;
}

.menu__item.right-side {
  text-align: right;
}

.menu__item.left-side + .menu__item.right-side {
  margin-left: auto;
  margin-right: 128px;
}

.menu__link {
  color: var(--black, black);
  font-weight: bold;
  line-height: 26px;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--light-blue);
}

.menu__link:active {
  color: rgba(var(--black-opacity), 0.3);
}

/*index*/
/*main*/
/*greeting*/
.greeting__img {
  height: 510px;
  background-color: var(--brown-grey);
  background-image: url("../img/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 42px;
}

.greeting__img > img {
  margin: auto;
}

.greeting__text {
  width: 470px;
  color: var(--black, black);
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto 43px;
}

/*advantages*/
.advantages__heading {
  font-weight: normal;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  margin: 0 0 51px;
}

.advantages {
  margin-bottom: 56px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  text-align: center;
}

.advantages-item:not(.long) {
  flex-basis: 400px;
  background-color: var(--light-grey);
  padding-top: 47px;
  padding-bottom: 54px;
  flex-grow: 1;
}

.advantages__item:first-child,
.advantages__item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item:nth-child(2) > .advantages-item__content {
  order: 2;
}

.advantages-item__img {
  width: 800px;
  height: 256px;
  background-color: var(--brown-grey);
}

.advantages-item__heading {
  font-weight: bold;
  font-size: 21px;
  color: var(--black, black);
  margin: 0 0 25px;
  padding: 0 130px;
}

.advantages-item__number {
  font-weight: normal;
  margin: 0 0 25px;
}

.advantages-item__text {
  margin: 0;
  font-weight: normal;
  padding: 0 71px;
}

.advantages-item__content {
  width: 400px;
  background-color: var(--light-blue, lightblue);
  text-align: center;
  color: var(--background-white, white);
  padding-top: 47px;
  padding-bottom: 54px;
}

.advantages-item__content > .advantages-item__heading {
  color: inherit;
  padding: 0 125px;
}

.advantages-item__content > .advantages-item__text {
  padding: 0 48px;
}

.features__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 100%;
}

.features__item {
  flex-basis: 400px;
  text-align: center;
  position: relative;
  padding-top: 160px;
  padding-bottom: 82px;
}

.features__heading {
  margin: 0;
  margin-bottom: 25px;
}

.features__text {
  margin: 0;
  padding: 0 51px;
}

.features__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38px;
}

.features__item:first-child::before {
  background-image: url("../img/icon-home.svg");
  width: 75px;
  height: 72px;
}

.features__item:nth-child(2)::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
}

.features__item:last-child::before {
  background-image: url("../img/icon-present.svg");
  width: 64px;
  height: 77px;
  top: 53px;
  margin-left: -32px;
}

.features__heading {
  font-weight: bold;
  font-size: 21px;
  color: var(--black, black);
}

.features__text {
  font-weight: normal;
}

/*search*/
.search-hotels {
  text-align: center;
  position: relative;
}

.search-hotels__heading {
  font-weight: bold;
  color: var(--black);
  font-size: 30px;
  line-height: 24px;
  margin: 0 0 32px;
}

.search-hotels__subtitle {
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  margin: 0 0 45px;
  padding: 0 381px;
}

.search-hotels__btn {
  width: 568px;
  padding: 31px 0;
  border: 0;
  background-color: var(--brown-grey);
  color: var(--background-white, white);
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

.search-hotels__btn:hover,
.search-hotels__btn:focus {
  background-color: var(--btn-hover);
}

.search-hotels__btn:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

/*Form-search*/
.form-search {
  position: absolute;
  width: 568px;
  margin: 0 auto;
  background-color: var(--background-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 55px;
  top: 100%;
  left: 0;
  right: 0;
}

.form-search__row {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 29px;
  align-items: center;
}

.form-search__data-inp {
  width: 346px;
  height: 38px;
  padding: 4px 0 6px 12px;
  background-color: var(--background-grey);
  text-transform: uppercase;
  border: 2px solid transparent;
}

.form-search__data-inp:hover {
  background-color: var(--input-hover);
}

.form-search__data-inp:active,
.form-search__data-inp:focus {
  background-color: var(--background-white);
  border: 2px solid var(--grey-line);
}

.form-search label {
  font-weight: bold;
  line-height: 26px;
  color: var(--black);
  align-self: center;
}

.form-search input::-webkit-input-placeholder {
  font-weight: bold;
  color: var(--black);
}

.form-search input::-moz-placeholder {
  font-weight: bold;
  color: var(--black);
}

.form-search input::placeholder,
.form-search input {
  font-weight: bold;
  color: var(--black);
}

.form-search__calendar-btn {
  position: absolute;
  padding: 0;
  border: 0;
  right: 9px;
  background-color: transparent;
}

.form-search__calendar-icon {
  fill: #A9A9A9;
}

.form-search__calendar-btn:hover .form-search__calendar-icon,
.form-search__calendar-btn:focus .form-search__calendar-icon {
  fill: var(--black)
}

.form-search__calendar-btn:active .form-search__calendar-icon {
  fill: var(--light-blue);
  outline: 0;
}

.form-search__columns {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 55px;
}

.form-search__column-1,
.form-search__column-2 {
  display: flex;
}

.search-groupAdults__layout,
.search-groupChildren__layout {
  display: flex;
}

.search-groupAdults {
  margin-right: 40px;
}

.search-groupChildren {
  margin-right: 27px;
}

.group-adults-inp,
.group-children-inp {
  width: 38px;
  height: 38px;
  padding: 0 0 0 15px;
  border: 0;
  background-color: var(--background-grey);
}

.form-search__math-btn {
  padding: 0;
  border: 0;
  width: 38px;
  background-color: var(--background-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-search__minus:hover rect,
.form-search__minus:focus rect,
.form-search__plus:hover path,
.form-search__plus:focus path {
  fill: var(--black);
}

.form-search__minus:active rect,
.form-search__plus:active path {
  fill: var(--light-blue);
}

.form-search__submit {
  width: 100%;
  background-color: var(--light-blue);
  border: 0;
  padding: 17px 0;
  color: var(--background-white);
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}

.form-search__submit:hover,
.form-search__submit:focus {
  background-color: var(--socials-hover);
}

.form-search__submit:active {
  background-color: var(--socials-active);
  color: rgba(var(--white-opacity), 0.3);
}

/*HOTELS*/
.menu__link:not([href]) {
  color: var(--brown-grey);
}

/*filter-form*/
.filter-form {
  background-color: var(--light-blue);
  background-image: url("../img/background-hotels.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--background-white);
  font-weight: normal;
  display: flex;
  align-items: stretch;
  padding-top: 26.5px;
  padding-bottom: 33px;
}

.filter-form > fieldset {
  border: 0;
  padding: 0;
  margin: 0 119px 0 0;
}

.filter-form > .filter-infrastructure {
  margin-left: 72px;
}


.filter-form__legend {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 23px;
}

.filter-form__legend.price {
  margin-bottom: 10px;
  padding-left: 10px;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__item {
  position: relative;
}

.filter__check-label {
  display: block;
  padding-left: 40px;
  padding-bottom: 25px;
}

.filter__item:last-child .filter__check-label {
  padding-bottom: 0;
}

.filter__check + .filter__check-label:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.filter__check:focus + .filter__check-label:before,
.filter__check:hover + .filter__check-label:before{
  background-image: url("../img/checkbox-off-focus.svg");
}

.filter__check:checked + .filter__check-label:before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
  width: 27px;
  height: 23px;
}

.filter__check:checked:focus + .filter__check-label:before,
.filter__check:checked:hover + .filter__check-label:before{
  background-image: url("../img/checkbox-on-focus.svg");
}

.filter__check:disabled + .filter__check-label:before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter__check:checked:disabled + .filter__check-label:before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-form > .filer-price {
  margin-right: 72px;
  margin-left: auto;
  flex-basis: 327px;
}

.filer-price-wrapper {
  padding-left: 10px;
}

.filter-price-label {
  width: 50%;
  position: relative;
  text-align: left;
  padding-left: 59px;
}

.filer-price__inputs {
  display: flex;
  background-color: transparent;
  color: var(--background-white);
  font-weight: normal;
  border: 2px solid var(--background-white);
  padding: 5.5px 0;
  margin-bottom: 20px;
}

.filer-price__input {
  color: var(--background-white);
  font-weight: normal;
  width: 60px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}

.filter-price-label:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 2px;
  height: 22px;
  background-color: var(--background-white);
}

/*range*/
.range-filter {
  position: relative;
  margin-bottom: 33px;
}

.range-filter .scale {
  width: 316px;
  height: 2px;
  background-color: rgba(var(--white-opacity), 0.3);
}

.range-filter .bar {
  width: 85%;
  height: 2px;
  background-color: var(--background-white);
}

.range-filter .toggle {
  position: absolute;
  width: 19px;
  height: 19px;
  padding: 0;
  background-color: var(--toggle);
  border: 8px solid var(--background-white, white);
  box-shadow: 0 2px 1px 0 var(--toggle);
  border-radius: 50%;
  top: -9px;
  cursor: pointer;
}

.range-filter .toggle:hover,
.range-filter .toggle:focus,
.range-filter .toggle:active {
  width: 24px;
  height: 24px;
  border: 10px solid var(--background-white, white);
}

.range-filter .toggle-min {
  left: 3px;
}

.range-filter .toggle-max {
  left: 256px;
}

.filter-form__submit {
  width: 137px;
  display: block;
  font-weight: normal;
  color: var(--background-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding: 8px 0;
  margin: 0 auto;
}

.filter-form__submit:hover {
  background-color: var(--background-white);
  color: var(--black);
}

/*filter-result*/

.filter-result__options {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-line);
  padding: 28px 73px 31px 74px;
}

.result-options__quantity {
  color: var(--black, black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 46px 0 0;
}

.result-options__sorting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--black, black);
  margin: 0 40px 0 0;
}

.type-sorting {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.type-sorting__item {
  margin-right: 32px;
}

.type-sorting__item:last-child {
  margin-right: 0;
}

.type-sorting__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(var(--black-opacity), 0.3);
  border-bottom: 1px dotted var(--light-blue);
}

.type-sorting__link:hover,
.type-sorting__link:focus {
  color: var(--light-blue);
}

.type-sorting__link.active {
  color: var(--light-blue);
  border: none;
}

.type-sorting__link:active {
  color: var(--black, black);
  border: none;
}

.type-sorting__triangle {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-self: flex-end;
}

.type-sorting-triangle__item {
  list-style: none;
  margin-right: 12px;
}

.type-sorting-triangle__item:last-child {
  margin-right: 0;
}

.type-sorting-triangle__item .type-sorting-triangle__icon {
  fill: var(--triangle-link);
}

.type-sorting-triangle__item:hover .type-sorting-triangle__icon,
.type-sorting-triangle__item:focus .type-sorting-triangle__icon {
  fill: var(--black);
}

.type-sorting-triangle__item:active .type-sorting-triangle__icon,
.type-sorting-triangle__item.active .type-sorting-triangle__icon {
  fill: var(--light-blue);
}

.type-sorting-triangle__icon.down {
  transform: rotate(180deg);
}

/*result hotels*/
.filter-result__hotels {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-result__hotels > li {
  border-bottom: 1px solid var(--grey-line);
}

.filter-result-hotels__item {
  display: flex;
  flex-wrap: wrap;
  width: 1054px;
  margin: 0 auto;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 29px;;
}

.hotel__img {
  width: 135px;
  height: 90px;
  margin: 4px 29px 0 0;
}

.hotel__desc {
  flex-basis: 600px;
}

.hotel__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 7px;
}

.hotel__title > a {
  color: var(--black, black);
  text-decoration: none;
}

.hotel__title:hover a,
.hotel__title:focus a {
  color: var(--light-blue);
}

.hotel__title:active a {
  color: rgba(var(--black-opacity), 0.3);
}

.hotel__info {
  margin-bottom: 15px;
  display: flex;
  flex-basis: 600px;
  flex-wrap: wrap;
}

.hotel__type {
  flex-basis: 110px;
  font-weight: normal;
  margin: 0 6px 0 0;
}

.hotel__price {
  font-weight: normal;
  flex-basis: 110px;
  margin: 0;
}

.hotel__links {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 600px;
}

.hotel__btn {
  font-weight: bold;
  color: var(--background-white);
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 17px;
}

.hotel__btn.details {
  background-color: var(--light-blue);
  width: 110px;
}

.hotel__btn.details:hover,
.hotel__btn.details:focus {
  background-color: var(--socials-hover);
}

.hotel__btn.details:active {
  background-color: var(--socials-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotel__btn.check-in {
  background-color: var(--brown-grey);
  width: 142px;
}

.hotel__btn.check-in:hover,
.hotel__btn.check-in:focus {
  background-color: var(--btn-hover);
}

.hotel__btn.check-in:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotel__all-rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding-top: 4px;
}

.hotels__stars {
  list-style: none;
  display: flex;
  padding: 0;
  align-self: flex-end
}

.hotels__stars > li {
  margin-right: 5px;
}

.hotels__stars > li:last-child {
  margin-right: 0;
  /*  Не работает*/
}

.hotels__stars > li::before {
  content: "";
  display: block;
  vertical-align: middle;
  background-image: url("../img/star.svg");
  width: 19px;
  height: 17px;
}

.hotels__rating {
  background-color: var(--background-grey);
  color: var(--raiting);
  width: 110px;
  height: 27px;
  line-height: 27px;
  margin: auto 0 1px;
  padding-left: 15px;
}

/*footer*/
.site-footer.map {
  height: 594px;
  background-color: var(--background-grey, lightgrey);
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  align-items: end;
}

.site-footer__content {
  background-color: rgba(var(--white-opacity), 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 23px;
  padding-bottom: 36px;
}

.site-footer {
  background-color: var(--background-white);
}

.site-footer__contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, black);
  padding-left: 73px;
}

.site-footer__contacts > p {
  margin: 0 0 12px;
  padding-left: 44px;
}

.site-footer__contacts > a {
  color: var(--black, black);
}

.site-footer__contacts > a:hover,
.site-footer__contacts > a:focus {
  color: var(--light-blue);
}

.site-footer__contacts > a:active {
  color: rgba(var(--black-opacity), 0.3);
}

.socials {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 11px 0 0;
}

.social__item {
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
}

.social::before {
  content: "";
  display: block;
}

.social__tw::before {
  background-image: url("../img/twitter-icon.svg");
  width: 17px;
  height: 17px;
}

.social__fc::before {
  background-image: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social__ut::before {
  background-image: url("../img/youtube-icon.svg");
  width: 20px;
  height: 16px;
}

.social:hover,
.social:focus {
  background-color: var(--socials-hover);
}

.social:active {
  background-color: var(--socials-active);
}

.social:active::before {
  opacity: 0.3;
}

.site-footer__developer {
  font-weight: normal;
  line-height: 26px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-self: start;
  padding-left: 65px;
  padding-top: 14px;
}

.developer__link {
  display: block;
  width: 115px;
  height: 41px;
  margin-left: 10px;
}

.developer__logo {
  fill: var(--html-academy-link);
}

.developer__link:hover .developer__logo,
.developer__link:focus .developer__logo {
  fill: var(--light-blue)
}

.developer__link:active .developer__logo {
  fill: var(--html-academy-active);
}
