@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*variables*/
:root {
  --background-white: #FFFFFF;
  --white-opacity: 255, 255, 255;
  --background-grey: #F2F2F2;
  --light-blue: #81B3D2;
  --socials-hover: #669EC0;
  --socials-active: #5496BD;
  --grey-line: #E5E5E5;
  --light-grey: #EEEEEE;
  --brown-grey: #766357;
  --btn-hover: #604E43;
  --btn-active: #503E33;
  --grey-black-text: #333333;
  --checkBox-diasbles: #6A6A6A;
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --background-mountains: #766458;
  --html-academy-link: #231F20;
  --html-academy-active: #BDBBBC;
  --raiting: #666666;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 1300px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey-black-text, black);
  text-transform: uppercase;
  background-color: var(--background-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden,
.filter__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-back {
  width: 1280px;
  background-color: var(--background-grey);
  margin: 0 auto;
}

.content {
  width: 1200px;
  background-color: var(--background-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}

/*header*/
.menu {
  list-style: none;
}

.menu__link {
  color: var(--black, black);
  font-weight: bold;
  line-height: 26px;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--light-blue);
}

.menu__link:active {
  color: rgba(var(--black-opacity), 0.3);
}

/*main*/
/*greeting*/
.greeting__img {
  height: 510px;
  background-color: var(--background-mountains);
  background-image: url("../img/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.greeting__text {
  width: 470px;
  color: var(--black, black);
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/*advantages*/
.advantages__heading {
  font-weight: normal;
  line-height: 26px;
}

.advantages__item {
  list-style: none;
}

.advantages-item__heading {
  font-weight: bold;
  font-size: 21px;
  color: var(--black, black);
}

.advantages-item__number {
  font-weight: normal;
}

.advantages-item__text {
  font-weight: normal;
}

.white {
  color: var(--background-white, white);
}

.advantages-item__content {
  width: 400px;
  height: 256px;
  background-color: var(--light-blue, lightblue);
}

.features__item {
  list-style: none;
}

.features__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
}

.features__item:first-child::before {
  background-image: url("../img/icon-home.svg");
  width: 75px;
  height: 72px;
}

.features__item:nth-child(2)::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
}

.features__item:last-child::before {
  background-image: url("../img/icon-present.svg");
  width: 64px;
  height: 77px;
}

.features__heading {
  font-weight: bold;
  font-size: 21px;
  color: var(--black, black);
}

.features__text {
  font-weight: normal;
}

/*search*/
.search-hotels {
  text-align: center;
}

.search-hotels__heading {
  font-weight: bold;
  color: var(--black);
  font-size: 30px;
  line-height: 24px;
}

.search-hotels__subtitle {
  font-weight: normal;
  line-height: 24px;
  width: 435px;
}

.search-hotels__btn {
  width: 568px;
  height: 86px;
  padding: 0;
  background-color: var(--brown-grey);
  color: var(--background-white, white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  vertical-align: middle;
}

.search-hotels__btn:hover,
.search-hotels__btn:focus {
  background-color: var(--btn-hover);
}

.search-hotels__btn:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

.form-search {
  display: none;
}

/*footer*/
.site-footer {
  height: 120px;
  background-color: var(--background-white);
}

.site-footer.map {
  height: 594px;
  background-color: var(--light-grey);
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site-footer__content {
  height: 120px;
  background-color: rgba(var(--white-opacity), 0.9);
}

.site-footer__contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, black);
}

.site-footer__contacts > a {
  color: var(--black, black);
}

.site-footer__contacts > a:hover,
.site-footer__contacts > a:focus {
  color: var(--light-blue);
}

.site-footer__contacts > a:active {
  color: rgba(var(--black-opacity), 0.3);
}

.socials {
  list-style: none;
}

.social {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
}

.social::before {
  content: "";
  display: block;
}

.social__tw::before {
  background-image: url("../img/twitter-icon.svg");
  width: 17px;
  height: 17px;
}

.social__fc::before {
  background-image: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social__ut::before {
  background-image: url("../img/youtube-icon.svg");
  width: 20px;
  height: 16px;
}

.social:hover,
.social:focus {
  background-color: var(--socials-hover);
}

.social:active {
  background-color: var(--socials-active);
}

.social:active::before {
  opacity: 0.3;
}

.site-footer__developer {
  font-weight: normal;
  line-height: 26px;
}

.developer__link {
  display: block;
  width: 115px;
  height: 41px;
}

.developer__logo {
  fill: var(--html-academy-link);
}

.developer__link:hover .developer__logo,
.developer__link:focus .developer__logo {
  fill: var(--light-blue)
}

.developer__link:active .developer__logo {
  fill: var(--html-academy-active);
}

/*HOTELS*/
.menu__link:not([href]) {
  color: var(--brown-grey);
}

/*filter-form*/
.filter-form {
  background-color: var(--light-blue);
  background-image: url("../img/background-hotels.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--background-white);
  font-weight: normal;
}

.filter-form > fieldset {
  border: 0;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
}

.filter__item {
  list-style: none;
}

.filter__check-label:before {
  content: "";
  display: block;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
}

.filter__check:checked + .filter__check-label:before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
  width: 27px;
  height: 23px;
}

/*Не сделано disabled*/
.filer-price__input {
  background-color: transparent;
  color: var(--background-white)
}

.filer-price__input::placeholder {
  font-weight: normal;
  text-transform: uppercase;
  color: var(--background-white, white);
}

.filter-form__submit {
  font-weight: normal;
  color: var(--background-white);
  text-transform: uppercase;
  background-color: transparent;
}

.filter-form__submit:hover {
  background-color: var(--background-white);
  color: var(--black);
}

/*filter-result*/
.result-options__quantity {
  color: var(--black, black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.result-options__sorting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--black, black);
}

.type-sorting {
  list-style: none;
}

.type-sorting__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(var(--black-opacity), 0.3);
  border-bottom: 1px dashed var(--light-blue);
}

.type-sorting__link:hover,
.type-sorting__link:focus {
  color: var(--light-blue);
}

.type-sorting__link:active {
  color: var(--black, black);
  border: none;
}

.type-sorting-triangle__item {
  list-style: none;
}

.type-sorting-triangle__item > a::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.type-sorting-triangle__item > a::before {
  background-image: url("../img/icon-up.svg");
}

.type-sorting-triangle__item > a:hover::before,
.type-sorting-triangle__item > a:focus::before {
  background-image: url("../img/shape-1.svg");
}

.type-sorting-triangle__item > a:active::before,
.type-sorting-triangle__item.active > a::before {
  background-image: url("../img/icon-up-active.svg");
}

.type-sorting-triangle__item:last-child > a::before {
  transform: rotate(180deg);
}

.filter-result__hotels {
  list-style: none;
  padding: 0;
}

.filter-result-hotels__item {
  border: 1px solid var(--grey-line);
}

.hotel__img {
  width: 135px;
  height: 90px;
  background-color: var(--background-grey);
}

.hotel__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, black);
}

.hotel__type {
  font-weight: normal;
}

.hotel__price {
  font-weight: normal;
}

.hotel__btn {
  font-weight: bold;
  color: var(--background-white);
}

.hotel__btn.details {
  background-color: var(--light-blue);
}

.hotel__btn.details:hover,
.hotel__btn.details:focus {
  background-color: var(--socials-hover);
}

.hotel__btn.details:active {
  background-color: var(--socials-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotel__btn.check-in {
  background-color: var(--brown-grey);
}

.hotel__btn.check-in:hover,
.hotel__btn.check-in:focus {
  background-color: var(--btn-hover);
}

.hotel__btn.check-in:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotels__stars {
  list-style: none;
}

.hotels__stars > li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/star.svg");
  width: 19px;
  height: 17px;
}

.hotels__rating {
  background-color: var(--background-grey);
  color: var(--raiting);
}
