@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*variables*/
:root {
  --background-white: #FFFFFF;
  --white-opacity: 255, 255, 255;
  --background-grey: #F2F2F2;
  --light-blue: #81B3D2;
  --socials-hover: #669EC0;
  --socials-active: #5496BD;
  --grey-line: #E5E5E5;
  --light-grey: #EEEEEE;
  --brown-grey: #766357;
  --btn-hover: #604E43;
  --btn-active: #503E33;
  --grey-black-text: #333333;
  --checkBox-diasbles: #6A6A6A; /* Пока не использую-исправить*/
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --html-academy-link: #231F20;
  --html-academy-active: #BDBBBC;
  --raiting: #666666;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey-black-text, black);
  text-transform: uppercase;
  background-color: var(--background-grey);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden,
.filter__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GRID*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  background-color: var(--background-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/*header*/

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.menu {
  list-style: none;
  width: 1054px;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.menu__item {
  padding: 15px 0;
  width: 98px;
}

.menu__item:first-child {
  margin-right: 130px;
}

.menu__item.left-side {
  text-align: left;
}

.menu__item.right-side {
  text-align: right;
}

.menu__item.left-side + .menu__item.right-side {
  margin-left: auto;
  margin-right: 128px;
}

.menu__link {
  color: var(--black, black);
  font-weight: bold;
  line-height: 26px;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--light-blue);
}

.menu__link:active {
  color: rgba(var(--black-opacity), 0.3);
}

/*index*/
/*main*/
/*greeting*/
.greeting__img {
  height: 510px;
  background-color: var(--brown-grey);
  background-image: url("../img/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 42px;
}

.greeting__img > img {
  margin: auto;
}

.greeting__text {
  width: 470px;
  color: var(--black, black);
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 45px;
}

/*advantages*/
.advantages__heading {
  font-weight: normal;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  margin: 0 0 51px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 57px;
}

.advantages-item {
  text-align: center;
}

.advantages-item:not(.long) {
  flex-basis: 400px;
  background-color: var(--light-grey);
}

.advantages__item:first-child,
.advantages__item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item:nth-child(2) > .advantages-item__content {
  order: 2;
}

.advantages-item__img {
  width: 800px;
  height: 256px;
}

.advantages-item__heading {
  font-weight: bold;
  font-size: 21px;
  color: var(--black, black);
  margin: 0;
}

.advantages-item__number {
  margin: 0;
  font-weight: normal;
}

.advantages-item__text {
  margin: 0;
  font-weight: normal;
}

.advantages-item__content > .advantages-item__heading {
  color: var(--background-white, white);
}

.advantages-item__content {
  width: 400px;
  background-color: var(--light-blue, lightblue);
  text-align: center;
  color: var(--background-white, white);
}

.features__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.features__item {
  flex-basis: 400px;
  text-align: center;
}

.features__heading {
  margin: 0;
  padding-top: 159px;
}

.features__text {
  margin: 0;
  padding-bottom: 82px;
}

.features__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.features__item:first-child::before {
  background-image: url("../img/icon-home.svg");
  width: 75px;
  height: 72px;
}

.features__item:nth-child(2)::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
}

.features__item:last-child::before {
  background-image: url("../img/icon-present.svg");
  width: 64px;
  height: 77px;
}

.features__heading {
  font-weight: bold;
  font-size: 21px;
  color: var(--black, black);
}

.features__text {
  font-weight: normal;
}

/*search*/
.search-hotels {
  text-align: center;
}

.search-hotels__heading {
  font-weight: bold;
  color: var(--black);
  font-size: 30px;
  line-height: 24px;
  margin: 0 0 37px;
}

.search-hotels__subtitle {
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  margin: 0 0 49px;
}

.search-hotels__btn {
  width: 568px;
  height: 86px;
  padding: 0;
  background-color: var(--brown-grey);
  color: var(--background-white, white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  vertical-align: middle;
}

.search-hotels__btn:hover,
.search-hotels__btn:focus {
  background-color: var(--btn-hover);
}

.search-hotels__btn:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

.form-search {
  display: none;
}

/*HOTELS*/
.menu__link:not([href]) {
  color: var(--brown-grey);
}

/*filter-form*/
.filter-form {
  background-color: var(--light-blue);
  background-image: url("../img/background-hotels.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--background-white);
  font-weight: normal;
  display: flex;
  align-items: stretch;
  padding-top: 26.5px;
  padding-bottom: 31px;
}

.filter-form > fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 118px;
}

.filter-form > .filter-infrastructure {
  margin-left: 72px;
}

.filter-form > .filer-price {
  margin-right: 73px;
  margin-left: auto;
  flex-basis: 327px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 24px;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__item {
  position: relative;
}

.filter__check-label {
  display: block;
  padding-left: 40px;
  padding-bottom: 25px;
}

.filter__item:last-child .filter__check-label {
  padding-bottom: 0;
}

.filter__check-label:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.filter__check:checked + .filter__check-label:before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
  width: 27px;
  height: 23px;
}

.filter__check:disabled + .filter__check-label:before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter__check:checked:disabled + .filter__check-label:before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filer-price__input {
  background-color: transparent;
  color: var(--background-white)
}

.filer-price__input::placeholder {
  font-weight: normal;
  text-transform: uppercase;
  color: var(--background-white, white);
}

.filter-form__submit {
  font-weight: normal;
  color: var(--background-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}

.filter-form__submit:hover {
  background-color: var(--background-white);
  color: var(--black);
}

/*filter-result*/

.filter-result__options {
  width: 1054px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.result-options__quantity {
  color: var(--black, black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 46px 0 0;
}

.result-options__sorting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--black, black);
  margin: 0 40px 0 0;
}

.type-sorting {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.type-sorting__item {
  margin-right: 32px;
}

.type-sorting__item:last-child {
  margin-right: 0;
}

.type-sorting__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(var(--black-opacity), 0.3);
  border-bottom: 1px dotted var(--light-blue);
}

.type-sorting__link:hover,
.type-sorting__link:focus {
  color: var(--light-blue);
}

.type-sorting__link.active {
  color: var(--light-blue);
  border: none;
}

.type-sorting__link:active {
  color: var(--black, black);
  border: none;
}

.type-sorting__triangle {
  display: flex;
  justify-content: end;
  margin-left: auto;
  padding: 0;
}

.type-sorting-triangle__item {
  list-style: none;
  margin-right: 12px;
}

.type-sorting-triangle__item:last-child {
  margin-right: 0;
}

.type-sorting-triangle__item > a::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.type-sorting-triangle__item > a::before {
  background-image: url("../img/icon-up.svg");
}

.type-sorting-triangle__item > a:hover::before,
.type-sorting-triangle__item > a:focus::before {
  background-image: url("../img/shape-1.svg");
}

.type-sorting-triangle__item > a:active::before,
.type-sorting-triangle__item.active > a::before {
  background-image: url("../img/icon-up-active.svg");
}

.type-sorting-triangle__item:last-child > a::before {
  transform: rotate(180deg);
}

/*result hotels*/
.filter-result__hotels {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-result__hotels > li {
  border: 1px solid var(--grey-line);
}

.filter-result-hotels__item {
  display: flex;
  width: 1054px;
  margin: 0 auto;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 27px;
}

.hotel__img {
  width: 135px;
  height: 90px;
  background-color: var(--background-grey);
  margin: 0 29px 0 0;
}

.hotel__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, black);
  margin: 0 0 7px;
}

.hotel__info {
  margin-bottom: 15px;
  display: flex;
}

.hotel__type {
  font-weight: normal;
  margin: 0 39px 0 0;
}

.hotel__price {
  font-weight: normal;
  margin: 0;
}

.hotel__links {
  display: flex;
}

.hotel__btn {
  font-weight: bold;
  color: var(--background-white);
  display: inline-block;
  height: 27px;
  margin-right: 6px;
}

.hotel__btn.details {
  background-color: var(--light-blue);
  width: 110px;
}

.hotel__btn.details:hover,
.hotel__btn.details:focus {
  background-color: var(--socials-hover);
}

.hotel__btn.details:active {
  background-color: var(--socials-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotel__btn.check-in {
  background-color: var(--brown-grey);
  width: 142px;
}

.hotel__btn.check-in:hover,
.hotel__btn.check-in:focus {
  background-color: var(--btn-hover);
}

.hotel__btn.check-in:active {
  background-color: var(--btn-active);
  color: rgba(var(--white-opacity), 0.3);
}

.hotel__all-rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.hotels__stars {
  list-style: none;
  display: flex;
  padding: 0;
  align-self: flex-end
}
.hotels__stars > li{
  margin-right: 5px;
}
.hotels__stars > li:last-child{
  margin-right: 0;
/*  Не работает*/
}
.hotels__stars > li::before {
  content: "";
  display: block;
  vertical-align: middle;
  background-image: url("../img/star.svg");
  width: 19px;
  height: 17px;
}
.hotels__rating {
  background-color: var(--background-grey);
  color: var(--raiting);
  width: 110px;
  height: 27px;
  margin: auto 0 0;
  line-height: 27px;
  padding: 0 13px;
}

/*footer*/
.site-footer.map {
  height: 594px;
  background-color: var(--background-grey, lightgrey);
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  align-items: end;
}

.site-footer__content {
  background-color: rgba(var(--white-opacity), 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 30px;
  padding-bottom: 32px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.site-footer {
  background-color: var(--background-white);
}

.site-footer__contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, black);
  /*justify-self: center;*/
}

.site-footer__contacts > p {
  margin: 0 0 9px;
}

.site-footer__contacts > a {
  color: var(--black, black);
}

.site-footer__contacts > a:hover,
.site-footer__contacts > a:focus {
  color: var(--light-blue);
}

.site-footer__contacts > a:active {
  color: rgba(var(--black-opacity), 0.3);
}

.site-footer__socials {
  /*justify-self: center;*/
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social__item {
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social {
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
}

.social::before {
  content: "";
  display: block;
}

.social__tw::before {
  background-image: url("../img/twitter-icon.svg");
  width: 17px;
  height: 17px;
}

.social__fc::before {
  background-image: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social__ut::before {
  background-image: url("../img/youtube-icon.svg");
  width: 20px;
  height: 16px;
}

.social:hover,
.social:focus {
  background-color: var(--socials-hover);
}

.social:active {
  background-color: var(--socials-active);
}

.social:active::before {
  opacity: 0.3;
}

.site-footer__developer {
  font-weight: normal;
  line-height: 26px;
  margin: 0;
  /*justify-self: center;*/
  display: flex;
}

.developer__link {
  display: block;
  width: 115px;
  height: 41px;
}

.developer__logo {
  fill: var(--html-academy-link);
}

.developer__link:hover .developer__logo,
.developer__link:focus .developer__logo {
  fill: var(--light-blue)
}

.developer__link:active .developer__logo {
  fill: var(--html-academy-active);
}
